<div id="about">
<%= image_tag 'c1.png', id: 'myImg' %>
</div>
<div id="about">
  <h2><span class="ec ec-hammer-and-wrench"></span> Что я использовал для этого проекта</h2>
  <p><b>Framework: </b>Ruby on Rails</p>
  <p><b>Database: </b>Postgres</p>
  <p><b>Adapter: </b>Redis</p>
  <p><b>Front: </b>Bootstrap + JQuery</p>
  <p><b>Misc: </b>WebSockets</p>
</div>

<div id="aboutp">
  <h1>Теперь о самой сути проекта</h1>
</div>
<div id="about">
  <p>Данный проект имеет довольно аккуратный интерфейс, где пользователю предложено только наблюдать за скачками валюты в реальном времени.</p>
</div>
<div id="about">
<%= image_tag 'c1.png', id: 'myImg' %>
</div>
<div id="about">
  <p>
  Администратор же может добавлять новые форсированные курсы во вкладочке /admin 
  </p>
</div>
<div id="about">
<%= image_tag 'c2.png', id: 'myImg' %>
</div>
<div id="about">
<%= image_tag 'c3.png', id: 'myImg' %>
</div>
<div id="aboutp">
  <h2>Ссылки</h2>
</div>
<div id="about">
  <a href="https://github.com/daniilty/currency" class="blog-post_cta">github</a>
</div>
