<div id="upperco">
  <div id="contacts">
    <h1><span class="ec ec-envelope-with-arrow"></span> Email</h1> 
    <h3> <a class="mail" href="mailto:danya.toreev@mail.ru">danya.toreev@mail.ru</a><h3>
  </div>
  <div id="contacts">
    <h1><span class="ec ec-telephone-receiver"></span> Телефон</h1>
    <h3><a class="mail" href="tel:89373755988">+79373755988</a></h3>
  </div>
  </div>
