<div id="uppera">
  <div id="about">
    <h1><span class="ec ec-coffee"></span> Давайте познакомимся</h1>
<p>Здравствуйте! Я Тураев Даниил Андреевич. Имею счастье проживать в Чебоксарах и работать с фреймворком “Ruby on Rails” уже второй год. </p>
  </div>
  <div id="about">
    <h2>
     <span class="ec ec-trophy"></span> Мой технический стек:
    </h2>
    <p><b>•Framework: </b>Ruby on Rails</p>
    <p><b>•DB: </b>Postgres, Mongo</p>
    <p><b>•Deploy: </b>Capistrano</p>
    <p><b>•Frontend: </b>JS, React(not too good;)), CSS</p>
    <p><b>•Pr languages: </b>Ruby(<span class="ec ec-black-heart"></span>), GoLang, C, Java </p>
    <p><b>•Familiar with: </b>Pretty much every Linux distro(Compiled linux core for about 6 times in glorious Gentoo install process)</p>
    <p><b>•Favorite server: </b>Nginx</p>
    <p><b>•Rest api: </b>Sinatra</p>
    <p><b>•Languages: </b>English(Upper-Intermediate), Russian(Native)</p>
  </div>
<div id="about">
    <p>А теперь по порядку)</p> 
  </div>
  <div id="about">
    <p>
    <span class="ec ec-round-pushpin"></span>  Свой путь языковых исканий я начал с C++ в 2017 году, но, из-за того, что я не смог найти ему совершенно никакого применения, кроме олимпиадных задачек, постепенно остыл и перешел на Python. Написав пару простеньких 2д игрушек я опять понял, что мне нужно что-то серьезнее и продолжил поиски в 2018 году. Тут мне удачно подвернулась статья на Хабре, в которой была описана краткая история загадочного фреймворка Ruby on Rails. Я сразу начал искать самоучители, но так как все книги на русском были устаревшими, я решил рискнуть и попробовать изучить книгу Майкла Хартла в оригинале. С того момента я прочитал 3 книги на 1000+ страниц и тонну документации на Github, которую я читаю исключительно на Английском.</p><p>
Помимо Ruby я хорошо владею Java и даже писал простенькие приложения на Android. Для меня не будет проблемой выучить Spring, либо совершенно любой фреймворк для работы(всегда готов пополнить свои знания).
    </p>
  </div>

  <div id="about">
    <h2><span class="ec ec-clipboard"></span> Ключевые навыки:</h2>
    <p><b>•Полная отдача в работе</b></p>
    <p><b>•Дружелюбность</b></p>
    <p><b>•Огромный уровень самомотивации и самоорганизованности</b></p>
    <p><b>•Воля к познанию</b></p>
    <p><b>•Знание английского</b></p>
  </div>
  <div id="about">
    <h2><span class="ec ec-hammer-and-wrench"></span> Мои проекты</h2>
    <p>Тут будет несколько демо проектов и один коммерческий(который уже можно посмотреть со своего устройства)</p>
    <%= link_to 'Перейти', projects_url, class: "blog-post_cta" %> 
  </div>
  <div id="about">
    <p> Раз вы все еще здесь, прошу оценить мой rice на gentoo))</p><br>
    <a href="https://www.reddit.com/r/unixporn/comments/gm7zal/dwm_quarantine_drives_me_crazy/"><%= image_tag("rice.png") %></a>
  </div>
</div>
