<div class="clientsup">
  <div class="clients">
    <div class="client">
      <%= image_tag("d1.png") %>
      <div class="description">
        <h2>Dezprof21</h2>
      <h4>Мой первый коммерческий проект для местной службы дезинфекции
        </h4>
        <a class="blog-post_cta" href="<%= dezprof_url %>">Перейти</a>
      </div>
    </div>
    <div class="client">
      <%= image_tag("s1.jpg") %>
      <div class="description">
        <h2>Account shop</h2>
        <h4>Мой приостановленный пандемией проект</h4>
        <a class="blog-post_cta" href="<%= second_url %>">Перейти</a>
      </div>
    </div>
  </div>
</div>
