<div id="about">
<%= image_tag 'p1.jpg' %>
</div>
<div id="about">
<%= image_tag 'p2.jpg' %>
</div>
<div id="about">
<h1><span class="ec ec-hammer-and-wrench"></span> Гемы:</h1>
  <p><b>Sinatra</b></p>
  <p><b>HTTParty</b></p>
  <p><b>Nokogiri</b></p>
  <p><b>Rest-Client</b></p>
</div>
<div id="aboutp">
  <h1>Описание</h1>
</div>
<div id="about">
<p>Также, я когда-то учил sinatra, но в реальных проектах ее применить не было возможности. В качестве примера хочу привести простенький парсер погоды с Гисметео.</p>
</div>
<div id="about">
  <a href="https://github.com/daniilty/sinatra_sample.git" class="blog-post_cta">github</a>
</div>
